body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

header {
    background: #222;
    color: white;
    padding: 20px
}

button {
    padding: 10px 20px;
    cursor: pointer;
}